<!-- Top banner content here -->
<mat-toolbar>{{ title}}</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #drawer mode="side" opened="opened()">
    <!-- Sidenav content here -->
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-icon-button color="accent" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Main content here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
